# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Windows
windows/flutter/ephemeral/

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
*.moved-aside
*.pyc
*.lock
!pubspec.lock

# IDE
.idea/
.vscode/
*.swp

# Env / secrets
.env
*.env.*

# macOS system
.DS_Store
